a{
  color: #11999E;
  margin-bottom: 2rem;
  text-decoration: none;
}
a:hover{
  color: #D1D1D1;
}
h4 a:hover{
  color: green;
}
body {
  text-align: center;
  margin: 0;
  font-family: 'Outfit', sans-serif;

}

h1 {
  font-size: 4em;
  margin: 2.5rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #11999E;
  line-height: 0.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 0.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
p{
  line-height: 2;
}

.top-container {
  background-image: url("../images/bg.png");
  /* background-color: #C8F2EF; */
  position: relative;
  padding-top: 100px;
}
.middle-container{
  background-color: #D1D1D1;
}

.contact-me{
  padding-bottom: 2em;
}



.bottom-cloud {
  position: absolute;
  bottom: 250px;
  left: 20%;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 30px;
}

.skills{
  padding: 2em 0 2em 0;
}
.skill-row{
  width: 50%;
  margin: 32px auto 32px auto;
  text-align: left;

}
.skill-one {
  width: 25%;
float: left;
margin-right: 2em;

}

.skill-two{
  float: right;
    width: 25%;
}
.prof-picture{
  border-radius: 100%;
  width: 8rem;
}
.bottom-container {
  background-color: #C8F2EF;
  padding-top: 4rem;
  padding-bottom:  2rem;
    margin-top: 0;

}
.get-in-touch{
  margin-top: 0;
  padding-top: 2rem;
}

.before-contact{
  margin-bottom: 0;
}
.copi{
  margin-bottom: 0;
  color: white;
}
hr {
  width: 10%;
  border: 10px dotted;
  border-bottom: none;
  color: grey
}
.btn{
  background-color: #11999E;
  color: white;
  border-radius: 10px;
  margin: 2em auto;
  padding: 10px;

  font-family: Montserrat;
}
.btn:hover{
  background-color: #00B4D8;
}
.footer-link{
  margin: 2rem;
}
.get-in-touch{
  margin-top: 2rem;
}
.profile{
  padding: 2em 0 2em 0;
}
.bio{
  width: 60%;
  margin: 2em auto;
}
